In [1]:
# 오라클 책 가져오기, 치약 사기 !

In [ ]:
데이터 베이스를 관리해주는 DBMS를 오라클이라 한다. DBMS는 DB라고 한다. 
데이터 베이스 안에 여러개의 데이터 베이스가 있음 
파일은 버리고 데이터 베이스에 저장 
전역 베이에 DBMS 
관계형 데이터 베이스 - 테이블간 관계 (테이블 = 표 =릴레이션)
관계 -릴레이션쉽
sqlplus system/orcl
conn 커넥트 연결
system 이라는 강력한 사용자 밑에 scott라는 약한것 시스템이 맘대로 
CONN SCOTT/orcl 스콧 연결
ACCOUNT LOCK; 계정 잠구기

CONN SCOTT/orcl  계정잠궈서 안됨

ALTER USER SCOTT 계정변경
IDENTIFIED BY orcl 비번바꾸기
ACCOUNT UNLOCK; 계정 풀기 끝날때는 세미콜론 
DESC EMP; 
데이터 베이스 접근 스카마 접근
scott 사용자 접속 user가 사용자이면서 동시에 데이터 베이스이다. 안에 테이블있다. 


system에 들어가서 함 
ALTER USER HR
IDENTIFIED BY hr # 비밀번호 변경 
ACCOUNT UNLOCK;
empno not null은 무조건 널값이면 안됨
varchar2(10)  변할수 있는 캐릭터 2번 업그레이드 /가변형 문자/ 바차2/ 글자수 10개

In [ ]:
empno 사원 번호 / ename 사원이름 / job 직책/ mgr 매니저/ 
hiredate 고용날자/sal월급 /comm 보너스/deptno 부서이름
DESC EMP;
SELECT * FROM EMP;

SELECT EMPNO, ENAME, DEPTNO
FROM EMP;

SELECT DISTINCT DEPTNO, JOB
FROM EMP;

SELECT ENAME, SAL*12
FROM EMP;

SELECT ENAME, SAL*12 AS ANNSAL
FROM EMP;

SELECT * FROM EMP
ORDER BY SAL;

SELECT * FROM EMP
ORDER BY SAL DESC;

SELECT * FROM EMP
ORDER BY DEPTNO ASC, SAL DESC;

SELECT * FROM EMP
ORDER BY DEPTNO , SAL DESC;  # 동급 있을 떄 sal롤 판단

select *from emp 
where deptno=30;

select *from emp 
where empno=7782;

select *from emp 
where DEPTNO=30 and job = 'SALESMAN';

select *from emp 
where DEPTNO=30 and sal >= 1300;

select *from emp 
where DEPTNO=30 or sal >= 1300;

select *from emp 
where DEPTNO=20 or job= 'SALESMAN';

-- 부서가 20이거나 직책이 salesman인 사원 

select empno, ename from emp 
where DEPTNO=20 or job= 'SALESMAN';

select empno, ename from emp 
where DEPTNO=20 or job= 'SALESMAN'
order by ename;