# 정리

In [ ]:
# 머신러닝  
# 딥러닝 
# ai는 보는 것과 말하는 것만 함 
# 목표가 숫자면 회귀 /ox면 분류 
# 분류와 군집
# 분류는 돈을 빌려줄까요 말까요 참과 거짓이 있음 맞다 틀리다가 정해져 있음 
# 군집은 상 중 하 품이 있음  # 최상 상 중 하 최하로 나누기 3개로 쪼개든 5개로 쪼개든
# 둘다 맞음 맞다 틀리다의 답이 정해져 있지 않음 
# 답러닝은 데이터량이 많아야 함 , 머신러닝은 데이터량이 적어도 됨 
# 머신러닝은 지도학습 비지도학습 강화 학습으로 분류

In [1]:
import pydataset

In [2]:
tips= pydataset.data('tips')

In [13]:
tips.pivot_table(index='day', columns= 'smoker' ,aggfunc='sum' )# 이건 안됨

       size          tip         total_bill
smoker   No  Yes      No     Yes         No     Yes
day
Fri       9   31   11.25   40.71      73.68  252.20
Sat     115  104  139.63  120.77     884.78  893.62
Sun     167   49  180.57   66.82    1168.88  458.28
Thur    112   40  120.32   51.51     770.09  326.24

In [4]:
import pandas as pd

In [10]:
tips.groupby('day')[['smoker']].count()

      smoker
day
Fri       19
Sat       87
Sun       76
Thur      62

In [11]:
tips.groupby('day').count()['smoker']

day
Fri     19
Sat     87
Sun     76
Thur    62
Name: smoker, dtype: int64

In [15]:
import numpy as np
df = pd.DataFrame({'key1': ['a', 'a', 'b',' b', 'a'],

                  'key2': ['one', 'two', 'one', 'two', 'one'],

                  'data1': np.random.randn(5),

                  'data2': np.random.randn(5)}) 
df

  key1 key2     data1     data2
0    a  one -0.671687  1.624583
1    a  two  0.212452  1.108901
2    b  one -0.337622  0.183224
3    b  two -1.392833 -1.086124
4    a  one  1.033383  1.764522

In [18]:
df.groupby('key1').mean()[['data1']]

         data1
key1
 b   -1.392833
a     0.191383
b    -0.337622

In [19]:
mpg= pydataset.data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [37]:
df= pd.crosstab(mpg['class'], mpg['manufacturer'])
df

manufacturer,audi,chevrolet,dodge,ford,honda,hyundai,jeep,land rover,lincoln,mercury,nissan,pontiac,subaru,toyota,volkswagen
class,,,,,,,,,,,,,,,
2seater,0,5,0,0,0,0,0,0,0,0,0,0,0,0,0
compact,15,0,0,0,0,0,0,0,0,0,2,0,4,12,14
midsize,3,5,0,0,0,7,0,0,0,0,7,5,0,7,7
minivan,0,0,11,0,0,0,0,0,0,0,0,0,0,0,0
pickup,0,0,19,7,0,0,0,0,0,0,0,0,0,7,0
subcompact,0,0,0,9,9,7,0,0,0,0,0,0,4,0,6
suv,0,9,7,9,0,0,8,4,3,4,4,0,6,8,0

In [38]:
df1= df.reset_index()

In [39]:
df1=df1.melt(id_vars='class', value_vars=df1.columns[:])
df1

          class manufacturer  value
0       2seater         audi      0
1       compact         audi     15
2       midsize         audi      3
3       minivan         audi      0
4        pickup         audi      0
5    subcompact         audi      0
6           suv         audi      0
7       2seater    chevrolet      5
8       compact    chevrolet      0
9       midsize    chevrolet      5
10      minivan    chevrolet      0
11       pickup    chevrolet      0
12   subcompact    chevrolet      0
13          suv    chevrolet      9
14      2seater        dodge      0
15      compact        dodge      0
16      midsize        dodge      0
17      minivan        dodge     11
18       pickup        dodge     19
19   subcompact        dodge      0
20          suv        dodge      7
21      2seater         ford      0
22      compact         ford      0
23      midsize         ford      0
24      minivan         ford      0
25       pickup         ford      7
26   subcompact         ford      9
27          suv         ford      9
28      2seater        honda      0
29      compact        honda      0
30      midsize        honda      0
31      minivan        honda      0
32       pickup        honda      0
33   subcompact        honda      9
34          suv        honda      0
35      2seater      hyundai      0
36      compact      hyundai      0
37      midsize      hyundai      7
38      minivan      hyundai      0
39       pickup      hyundai      0
40   subcompact      hyundai      7
41          suv      hyundai      0
42      2seater         jeep      0
43      compact         jeep      0
44      midsize         jeep      0
45      minivan         jeep      0
46       pickup         jeep      0
47   subcompact         jeep      0
48          suv         jeep      8
49      2seater   land rover      0
50      compact   land rover      0
51      midsize   land rover      0
52      minivan   land rover      0
53       pickup   land rover      0
54   subcompact   land rover      0
55          suv   land rover      4
56      2seater      lincoln      0
57      compact      lincoln      0
58      midsize      lincoln      0
59      minivan      lincoln      0
60       pickup      lincoln      0
61   subcompact      lincoln      0
62          suv      lincoln      3
63      2seater      mercury      0
64      compact      mercury      0
65      midsize      mercury      0
66      minivan      mercury      0
67       pickup      mercury      0
68   subcompact      mercury      0
69          suv      mercury      4
70      2seater       nissan      0
71      compact       nissan      2
72      midsize       nissan      7
73      minivan       nissan      0
74       pickup       nissan      0
75   subcompact       nissan      0
76          suv       nissan      4
77      2seater      pontiac      0
78      compact      pontiac      0
79      midsize      pontiac      5
80      minivan      pontiac      0
81       pickup      pontiac      0
82   subcompact      pontiac      0
83          suv      pontiac      0
84      2seater       subaru      0
85      compact       subaru      4
86      midsize       subaru      0
87      minivan       subaru      0
88       pickup       subaru      0
89   subcompact       subaru      4
90          suv       subaru      6
91      2seater       toyota      0
92      compact       toyota     12
93      midsize       toyota      7
94      minivan       toyota      0
95       pickup       toyota      7
96   subcompact       toyota      0
97          suv       toyota      8
98      2seater   volkswagen      0
99      compact   volkswagen     14
100     midsize   volkswagen      7
101     minivan   volkswagen      0
102      pickup   volkswagen      0
103  subcompact   volkswagen      6
104         suv   volkswagen      0

In [45]:
df1['frequency']=pd.cut(df1['value'], bins=[-1,9,19], labels=['few','many'])

In [46]:
df1

          class manufacturer  value frequency
0       2seater         audi      0       few
1       compact         audi     15      many
2       midsize         audi      3       few
3       minivan         audi      0       few
4        pickup         audi      0       few
5    subcompact         audi      0       few
6           suv         audi      0       few
7       2seater    chevrolet      5       few
8       compact    chevrolet      0       few
9       midsize    chevrolet      5       few
10      minivan    chevrolet      0       few
11       pickup    chevrolet      0       few
12   subcompact    chevrolet      0       few
13          suv    chevrolet      9       few
14      2seater        dodge      0       few
15      compact        dodge      0       few
16      midsize        dodge      0       few
17      minivan        dodge     11      many
18       pickup        dodge     19      many
19   subcompact        dodge      0       few
20          suv        dodge      7       few
21      2seater         ford      0       few
22      compact         ford      0       few
23      midsize         ford      0       few
24      minivan         ford      0       few
25       pickup         ford      7       few
26   subcompact         ford      9       few
27          suv         ford      9       few
28      2seater        honda      0       few
29      compact        honda      0       few
30      midsize        honda      0       few
31      minivan        honda      0       few
32       pickup        honda      0       few
33   subcompact        honda      9       few
34          suv        honda      0       few
35      2seater      hyundai      0       few
36      compact      hyundai      0       few
37      midsize      hyundai      7       few
38      minivan      hyundai      0       few
39       pickup      hyundai      0       few
40   subcompact      hyundai      7       few
41          suv      hyundai      0       few
42      2seater         jeep      0       few
43      compact         jeep      0       few
44      midsize         jeep      0       few
45      minivan         jeep      0       few
46       pickup         jeep      0       few
47   subcompact         jeep      0       few
48          suv         jeep      8       few
49      2seater   land rover      0       few
50      compact   land rover      0       few
51      midsize   land rover      0       few
52      minivan   land rover      0       few
53       pickup   land rover      0       few
54   subcompact   land rover      0       few
55          suv   land rover      4       few
56      2seater      lincoln      0       few
57      compact      lincoln      0       few
58      midsize      lincoln      0       few
59      minivan      lincoln      0       few
60       pickup      lincoln      0       few
61   subcompact      lincoln      0       few
62          suv      lincoln      3       few
63      2seater      mercury      0       few
64      compact      mercury      0       few
65      midsize      mercury      0       few
66      minivan      mercury      0       few
67       pickup      mercury      0       few
68   subcompact      mercury      0       few
69          suv      mercury      4       few
70      2seater       nissan      0       few
71      compact       nissan      2       few
72      midsize       nissan      7       few
73      minivan       nissan      0       few
74       pickup       nissan      0       few
75   subcompact       nissan      0       few
76          suv       nissan      4       few
77      2seater      pontiac      0       few
78      compact      pontiac      0       few
79      midsize      pontiac      5       few
80      minivan      pontiac      0       few
81       pickup      pontiac      0       few
82   subcompact      pontiac      0       few
83          suv      pontiac      0       few
84      2seater       subaru      0       few
85      compact       subaru      4       few
86      midsize       subaru      0       few
87      minivan       subaru      0       few
88       pickup       subaru      0       few
89   subcompact       subaru      4       few
90          suv       subaru      6       few
91      2seater       toyota      0       few
92      compact       toyota     12      many
93      midsize       toyota      7       few
94      minivan       toyota      0       few
95       pickup       toyota      7       few
96   subcompact       toyota      0       few
97          suv       toyota      8       few
98      2seater   volkswagen      0       few
99      compact   volkswagen     14      many
100     midsize   volkswagen      7       few
101     minivan   volkswagen      0       few
102      pickup   volkswagen      0       few
103  subcompact   volkswagen      6       few
104         suv   volkswagen      0       few

In [50]:
mpg.pi({'manufacturer':['mean', 'max'], 'year':['mean','max']})

ValueError: No group keys passed!

In [53]:
mpg.groupby(['manufacturer','year']).agg(['mean', max]) 
# 따옴표는 해도 되고 안해도 됨

C:\Users\admin\AppData\Local\Temp\ipykernel_6752\2474592764.py:1: FutureWarning: ['model', 'trans', 'drv', 'fl', 'class'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  mpg.groupby(['manufacturer','year']).agg(['mean', max])

                      displ            cyl            cty            hwy
                       mean  max      mean max       mean max       mean max
manufacturer year
audi         1999  2.355556  2.8  5.111111   6  17.111111  21  26.111111  29
             2008  2.733333  4.2  5.333333   8  18.111111  21  26.777778  31
chevrolet    1999  4.971429  6.5  7.142857   8  15.142857  19  21.571429  27
             2008  5.116667  7.0  7.333333   8  14.916667  22  22.083333  30
dodge        1999  4.318750  5.9  6.750000   8  13.375000  18  18.437500  24
             2008  4.423810  5.7  7.333333   8  12.952381  17  17.571429  24
ford         1999  4.453333  5.4  7.066667   8  13.933333  18  18.600000  26
             2008  4.660000  5.4  7.400000   8  14.100000  17  20.500000  26
honda        1999  1.600000  1.6  4.000000   4  24.800000  28  31.600000  33
             2008  1.850000  2.0  4.000000   4  24.000000  26  33.750000  36
hyundai      1999  2.300000  2.5  4.666667   6  18.333333  19  26.666667  29
             2008  2.525000  3.3  5.000000   6  18.875000  21  27.000000  31
jeep         1999  4.350000  4.7  7.000000   8  14.500000  15  18.500000  20
             2008  4.650000  6.1  7.333333   8  13.166667  17  17.333333  22
land rover   1999  4.300000  4.6  8.000000   8  11.000000  11  15.000000  15
             2008  4.300000  4.4  8.000000   8  12.000000  12  18.000000  18
lincoln      1999  5.400000  5.4  8.000000   8  11.000000  11  16.500000  17
             2008  5.400000  5.4  8.000000   8  12.000000  12  18.000000  18
mercury      1999  4.500000  5.0  7.000000   8  13.500000  14  17.000000  17
             2008  4.300000  4.6  7.000000   8  13.000000  13  19.000000  19
nissan       1999  2.900000  3.3  5.333333   6  17.666667  21  23.500000  29
             2008  3.585714  5.6  5.714286   8  18.428571  23  25.571429  32
pontiac      1999  3.566667  3.8  6.000000   6  17.000000  18  26.333333  27
             2008  4.550000  5.3  7.000000   8  17.000000  18  26.500000  28
subaru       1999  2.400000  2.5  4.000000   4  19.000000  21  25.500000  26
             2008  2.500000  2.5  4.000000   4  19.500000  20  25.625000  27
toyota       1999  2.765000  4.7  5.000000   8  18.150000  26  24.050000  35
             2008  3.221429  5.7  5.285714   8  19.071429  28  26.142857  37
volkswagen   1999  2.206250  2.8  4.625000   6  21.250000  35  29.687500  44
             2008  2.327273  3.6  4.545455   6  20.454545  22  28.545455  29

In [52]:
mpg.pivot_table(index = ['year', 'manufacturer'], aggfunc = ['mean', 'max'])

                        mean                                        max      \
                         cty       cyl     displ        hwy       class cty
year manufacturer
1999 audi          17.111111  5.111111  2.355556  26.111111     midsize  21
     chevrolet     15.142857  7.142857  4.971429  21.571429         suv  19
     dodge         13.375000  6.750000  4.318750  18.437500         suv  18
     ford          13.933333  7.066667  4.453333  18.600000         suv  18
     honda         24.800000  4.000000  1.600000  31.600000  subcompact  28
     hyundai       18.333333  4.666667  2.300000  26.666667  subcompact  19
     jeep          14.500000  7.000000  4.350000  18.500000         suv  15
     land rover    11.000000  8.000000  4.300000  15.000000         suv  11
     lincoln       11.000000  8.000000  5.400000  16.500000         suv  11
     mercury       13.500000  7.000000  4.500000  17.000000         suv  14
     nissan        17.666667  5.333333  2.900000  23.500000         suv  21
     pontiac       17.000000  6.000000  3.566667  26.333333     midsize  18
     subaru        19.000000  4.000000  2.400000  25.500000         suv  21
     toyota        18.150000  5.000000  2.765000  24.050000         suv  26
     volkswagen    21.250000  4.625000  2.206250  29.687500  subcompact  35
2008 audi          18.111111  5.333333  2.733333  26.777778     midsize  21
     chevrolet     14.916667  7.333333  5.116667  22.083333         suv  22
     dodge         12.952381  7.333333  4.423810  17.571429         suv  17
     ford          14.100000  7.400000  4.660000  20.500000         suv  17
     honda         24.000000  4.000000  1.850000  33.750000  subcompact  26
     hyundai       18.875000  5.000000  2.525000  27.000000  subcompact  21
     jeep          13.166667  7.333333  4.650000  17.333333         suv  17
     land rover    12.000000  8.000000  4.300000  18.000000         suv  12
     lincoln       12.000000  8.000000  5.400000  18.000000         suv  12
     mercury       13.000000  7.000000  4.300000  19.000000         suv  13
     nissan        18.428571  5.714286  3.585714  25.571429         suv  23
     pontiac       17.000000  7.000000  4.550000  26.500000     midsize  18
     subaru        19.500000  4.000000  2.500000  25.625000         suv  20
     toyota        19.071429  5.285714  3.221429  26.142857         suv  28
     volkswagen    20.454545  4.545455  2.327273  28.545455  subcompact  22


                  cyl displ drv fl hwy                model       trans
year manufacturer
1999 audi           6   2.8   f  p  29           a6 quattro  manual(m5)
     chevrolet      8   6.5   r  r  27               malibu  manual(m6)
     dodge          8   5.9   f  r  24  ram 1500 pickup 4wd  manual(m5)
     ford           8   5.4   r  r  26              mustang  manual(m5)
     honda          4   1.6   f  r  33                civic  manual(m5)
     hyundai        6   2.5   f  r  29              tiburon  manual(m5)
     jeep           8   4.7   4  r  20   grand cherokee 4wd    auto(l4)
     land rover     8   4.6   4  p  15          range rover    auto(l4)
     lincoln        8   5.4   r  r  17        navigator 2wd    auto(l4)
     mercury        8   5.0   4  r  17      mountaineer 4wd    auto(l5)
     nissan         6   3.3   f  r  29       pathfinder 4wd  manual(m5)
     pontiac        6   3.8   f  r  27           grand prix    auto(l4)
     subaru         4   2.5   4  r  26          impreza awd  manual(m5)
     toyota         8   4.7   f  r  35    toyota tacoma 4wd  manual(m5)
     volkswagen     6   2.8   f  r  44               passat  manual(m5)
2008 audi           8   4.2   f  p  31           a6 quattro  manual(m6)
     chevrolet      8   7.0   r  r  30               malibu  manual(m6)
     dodge          8   5.7   f  r  24  ram 1500 pickup 4wd  manual(m6)
     ford           8   5.4   r  r  26              mustang  manual(m6)
     honda          4   2.0   f  r  36                civic  manual(m6)
     hyundai        6   3.3   f  r  31              tiburon  manual(m6)
     jeep           8   6.1   4  r  22   grand cherokee 4wd    auto(l5)
     land rover     8   4.4   4  r  18          range rover    auto(s6)
     lincoln        8   5.4   r  r  18        navigator 2wd    auto(l6)
     mercury        8   4.6   4  r  19      mountaineer 4wd    auto(l6)
     nissan         8   5.6   f  r  32       pathfinder 4wd  manual(m6)
     pontiac        8   5.3   f  r  28           grand prix    auto(s4)
     subaru         4   2.5   4  r  27          impreza awd  manual(m5)
     toyota         8   5.7   f  r  37    toyota tacoma 4wd  manual(m6)
     volkswagen     6   3.6   f  r  29               passat  manual(m6)

In [55]:
mpg.groupby(['manufacturer','year']).agg({'displ':'mean','cyl': max})

                      displ  cyl
manufacturer year
audi         1999  2.355556    6
             2008  2.733333    8
chevrolet    1999  4.971429    8
             2008  5.116667    8
dodge        1999  4.318750    8
             2008  4.423810    8
ford         1999  4.453333    8
             2008  4.660000    8
honda        1999  1.600000    4
             2008  1.850000    4
hyundai      1999  2.300000    6
             2008  2.525000    6
jeep         1999  4.350000    8
             2008  4.650000    8
land rover   1999  4.300000    8
             2008  4.300000    8
lincoln      1999  5.400000    8
             2008  5.400000    8
mercury      1999  4.500000    8
             2008  4.300000    8
nissan       1999  2.900000    6
             2008  3.585714    8
pontiac      1999  3.566667    6
             2008  4.550000    8
subaru       1999  2.400000    4
             2008  2.500000    4
toyota       1999  2.765000    8
             2008  3.221429    8
volkswagen   1999  2.206250    6
             2008  2.327273    6

# 머신러닝

In [57]:
# 머신러닝  
# 딥러닝 
# ai는 보는 것과 말하는 것만 함 
# 목표가 숫자면 회귀 /ox면 분류 
# 분류와 군집
# 분류는 돈을 빌려줄까요 말까요 참과 거짓이 있음 맞다 틀리다가 정해져 있음 
# 군집은 상 중 하 품이 있음  # 최상 상 중 하 최하로 나누기 3개로 쪼개든 5개로 쪼개든
# 둘다 맞음 맞다 틀리다의 답이 정해져 있지 않음 
# 답러닝은 데이터량이 많아야 함 , 머신러닝은 데이터량이 적어도 됨 
# 머신러닝은 지도학습 비지도학습 강화 학습으로 분류
#

In [58]:
# 크기는 size 형태은 shape이다. |

In [89]:
df=mpg.iloc[:5, 2:5]
df

   displ  year  cyl
1    1.8  1999    4
2    1.8  1999    4
3    2.0  2008    4
4    2.0  2008    4
5    2.8  1999    6

In [66]:
df.values #

array([[1.800e+00, 1.999e+03, 4.000e+00],
       [1.800e+00, 1.999e+03, 4.000e+00],
       [2.000e+00, 2.008e+03, 4.000e+00],
       [2.000e+00, 2.008e+03, 4.000e+00],
       [2.800e+00, 1.999e+03, 6.000e+00]])

In [67]:
df.to_dict()

{'displ': {1: 1.8, 2: 1.8, 3: 2.0, 4: 2.0, 5: 2.8},
 'year': {1: 1999, 2: 1999, 3: 2008, 4: 2008, 5: 1999},
 'cyl': {1: 4, 2: 4, 3: 4, 4: 4, 5: 6}}

In [70]:
df['displ'].tolist() # 데이터 프레임에는 안먹히고 시리즈 상태에서 먹힘

[1.8, 1.8, 2.0, 2.0, 2.8]

In [71]:
df.values.tolist()

[[1.8, 1999.0, 4.0],
 [1.8, 1999.0, 4.0],
 [2.0, 2008.0, 4.0],
 [2.0, 2008.0, 4.0],
 [2.8, 1999.0, 6.0]]

In [82]:
li=[]
for i in df.values.tolist():
    for j in i:
        li.append(j)
li        
[j for i in df.values.tolist() for j in i]

[1.8,
 1999.0,
 4.0,
 1.8,
 1999.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.8,
 1999.0,
 6.0]

In [83]:
li = []
for values in df.values.tolist():
    for value in values:
        li.append(value)
li

[1.8,
 1999.0,
 4.0,
 1.8,
 1999.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.8,
 1999.0,
 6.0]

In [84]:
df.values.reshape(-1).tolist()

[1.8,
 1999.0,
 4.0,
 1.8,
 1999.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.8,
 1999.0,
 6.0]

In [95]:
df.values

array([[1.800e+00, 1.999e+03, 4.000e+00],
       [1.800e+00, 1.999e+03, 4.000e+00],
       [2.000e+00, 2.008e+03, 4.000e+00],
       [2.000e+00, 2.008e+03, 4.000e+00],
       [2.800e+00, 1.999e+03, 6.000e+00]])

In [90]:
df.values.reshape(-1) # x.reshape(-1)은 x.reshape(1, -1)과 같이 1차원 배열을 반환합니다.

array([1.800e+00, 1.999e+03, 4.000e+00, 1.800e+00, 1.999e+03, 4.000e+00,
       2.000e+00, 2.008e+03, 4.000e+00, 2.000e+00, 2.008e+03, 4.000e+00,
       2.800e+00, 1.999e+03, 6.000e+00])

In [96]:
df=mpg.iloc[:5, 2:5]
df1=np.array(df)
df1.flatten()

array([1.800e+00, 1.999e+03, 4.000e+00, 1.800e+00, 1.999e+03, 4.000e+00,
       2.000e+00, 2.008e+03, 4.000e+00, 2.000e+00, 2.008e+03, 4.000e+00,
       2.800e+00, 1.999e+03, 6.000e+00])

In [93]:
df=mpg.iloc[:5, 2:5]

df.values.flatten().tolist()

[1.8,
 1999.0,
 4.0,
 1.8,
 1999.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.8,
 1999.0,
 6.0]

In [94]:
df=mpg.iloc[:5, 2:5]

[y for x in df.values.tolist() for y in x ]

[1.8,
 1999.0,
 4.0,
 1.8,
 1999.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.8,
 1999.0,
 6.0]

In [99]:
mpg.reset_index(drop=True) # 인덱스 정리

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [98]:
mpg.stack().unstack()

    manufacturer   model displ  year cyl       trans drv cty hwy fl    class
1           audi      a4   1.8  1999   4    auto(l5)   f  18  29  p  compact
2           audi      a4   1.8  1999   4  manual(m5)   f  21  29  p  compact
3           audi      a4   2.0  2008   4  manual(m6)   f  20  31  p  compact
4           audi      a4   2.0  2008   4    auto(av)   f  21  30  p  compact
5           audi      a4   2.8  1999   6    auto(l5)   f  16  26  p  compact
..           ...     ...   ...   ...  ..         ...  ..  ..  .. ..      ...
230   volkswagen  passat   2.0  2008   4    auto(s6)   f  19  28  p  midsize
231   volkswagen  passat   2.0  2008   4  manual(m6)   f  21  29  p  midsize
232   volkswagen  passat   2.8  1999   6    auto(l5)   f  16  26  p  midsize
233   volkswagen  passat   2.8  1999   6  manual(m5)   f  18  26  p  midsize
234   volkswagen  passat   3.6  2008   6    auto(s6)   f  17  26  p  midsize

[234 rows x 11 columns]

In [169]:
#map은 원소 하나하나에 대해
lambda x : 'Child' if x<=16 else 'Adult'

{'a': 'm', 'b': 26}

In [101]:
import sklearn

In [103]:
sklearn.__version__

'1.0.2'

In [104]:
pip list  | findstr sk

dask                          2022.2.1
Flask                         1.1.2
Flask-Compress                1.13
Note: you may need to restart the kernel to use updated packages.

In [105]:
from sklearn.datasets import load_iris

In [107]:
iris =load_iris()
iris # key 가 data value로 array

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [111]:
# 딕셔너리에서 키 값 
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [112]:
iris.values()

dict_values([array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]]), array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]), None, array(['setosa', 'versicolor', 'virginica'], dtype='<U10'), '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...', ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)'], 'iris.csv', 'sklearn.datasets.data'])

In [117]:
np.array([1,2,3]).shape # 1차원, 3개의 행으로 됨

(3,)

In [116]:
np.array([[1,2,3]]).shape

(1, 3)

In [118]:
http://www.tcpschool.com/codingmath/intro

SyntaxError: invalid syntax (581464713.py, line 1)

In [119]:
pip ,pip3, conda 비슷 다 호환 됨

SyntaxError: invalid syntax (3843131132.py, line 1)

In [120]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [121]:
type(iris) # 번치 타입 딕셔너리와 비슷하다. 거의 같음

sklearn.utils.Bunch

In [122]:
iris.items()

dict_items([('data', array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])), ('target', array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])), ('frame', None), ('target_names', array(['setosa', 'versicolor', 'virginica'], dtype='<U10')), ('DESCR', '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...'), ('feature_names', ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']), ('filename', 'iris.csv'), ('data_module', 'sklearn.datasets.data')])

In [125]:
iris_data=iris['data'] # 키 접근하기

In [124]:
d={'apple':'사과', 'banana':'바나나'}
d['apple']

'사과'

In [129]:
iris_label=iris['target'] # label은 이름

In [130]:
train_test_split(iris_data, iris_label) # 75 대 25로 전체적으로는 4조각으로

[array([[5.1, 3.5, 1.4, 0.3],
        [5.4, 3. , 4.5, 1.5],
        [6.7, 2.5, 5.8, 1.8],
        [5.6, 3. , 4.5, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [4.5, 2.3, 1.3, 0.3],
        [5.4, 3.9, 1.7, 0.4],
        [6.1, 2.8, 4. , 1.3],
        [5. , 3.6, 1.4, 0.2],
        [6.1, 3. , 4.6, 1.4],
        [4.6, 3.2, 1.4, 0.2],
        [5.5, 2.3, 4. , 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [6.1, 2.6, 5.6, 1.4],
        [5.1, 3.8, 1.6, 0.2],
        [6.9, 3.1, 4.9, 1.5],
        [7.2, 3.6, 6.1, 2.5],
        [5.9, 3.2, 4.8, 1.8],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [5.1, 2.5, 3. , 1.1],
        [6.4, 2.7, 5.3, 1.9],
        [6.4, 2.8, 5.6, 2.2],
        [5. , 3.2, 1.2, 0.2],
        [6.5, 3. , 5.2, 2. ],
        [4.7, 3.2, 1.6, 0.2],
        [6.8, 3. , 5.5, 2.1],
        [5.5, 4.2, 1.4, 0.2],
        [5. , 3.4, 1.5, 0.2],
        [6. , 2.7, 5.1, 1.6],
        [6.4, 2.9, 4.3, 1.3],
        [7.9, 3.8, 6.4, 2. ],
        [5.5, 2.5, 4. , 1.3],
        [6.3, 3.3, 6. , 2.5],
        [6.2, 2.2, 4.5, 1.5],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.7, 2.9, 4.2, 1.3],
        [4.6, 3.1, 1.5, 0.2],
        [6.8, 2.8, 4.8, 1.4],
        [5.7, 3. , 4.2, 1.2],
        [5.4, 3.9, 1.3, 0.4],
        [4.4, 3. , 1.3, 0.2],
        [5. , 3. , 1.6, 0.2],
        [6.5, 3.2, 5.1, 2. ],
        [5.8, 2.7, 3.9, 1.2],
        [5.1, 3.7, 1.5, 0.4],
        [5.2, 3.4, 1.4, 0.2],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.3, 2.9, 6.3, 1.8],
        [5.6, 2.5, 3.9, 1.1],
        [6.6, 2.9, 4.6, 1.3],
        [7.7, 3.8, 6.7, 2.2],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3. , 5. , 1.7],
        [6.7, 3.1, 5.6, 2.4],
        [5.1, 3.5, 1.4, 0.2],
        [6. , 3. , 4.8, 1.8],
        [5.5, 2.4, 3.7, 1. ],
        [7.4, 2.8, 6.1, 1.9],
        [6.7, 3.3, 5.7, 2.1],
        [5.2, 3.5, 1.5, 0.2],
        [6.3, 2.5, 5. , 1.9],
        [4.9, 3. , 1.4, 0.2],
        [5.7, 3.8, 1.7, 0.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.7, 3.1, 4.4, 1.4],
        [4.8, 3. , 1.4, 0.3],
        [5.7, 2.6, 3.5, 1. ],
        [5.7, 2.8, 4.5, 1.3],
        [7.2, 3. , 5.8, 1.6],
        [5.2, 2.7, 3.9, 1.4],
        [6.9, 3.1, 5.1, 2.3],
        [7.7, 2.8, 6.7, 2. ],
        [6.2, 2.9, 4.3, 1.3],
        [5.8, 2.6, 4. , 1.2],
        [6.3, 2.7, 4.9, 1.8],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 3.4, 5.4, 2.3],
        [5.5, 3.5, 1.3, 0.2],
        [6. , 3.4, 4.5, 1.6],
        [5.8, 2.7, 5.1, 1.9],
        [5. , 3.5, 1.3, 0.3],
        [7. , 3.2, 4.7, 1.4],
        [4.8, 3.4, 1.6, 0.2],
        [6.5, 3. , 5.8, 2.2],
        [5.4, 3.4, 1.5, 0.4],
        [6.6, 3. , 4.4, 1.4],
        [5.5, 2.4, 3.8, 1.1],
        [4.9, 2.5, 4.5, 1.7],
        [6.4, 2.8, 5.6, 2.1],
        [6.4, 3.1, 5.5, 1.8],
        [6.1, 2.9, 4.7, 1.4],
        [5. , 2. , 3.5, 1. ],
        [6.7, 3.3, 5.7, 2.5],
        [6.3, 2.8, 5.1, 1.5],
        [4.8, 3.4, 1.9, 0.2],
        [5.8, 2.8, 5.1, 2.4],
        [5.1, 3.8, 1.5, 0.3],
        [6.7, 3. , 5.2, 2.3],
        [6. , 2.9, 4.5, 1.5],
        [7.7, 2.6, 6.9, 2.3],
        [4.4, 3.2, 1.3, 0.2],
        [6. , 2.2, 5. , 1.5],
        [5. , 3.3, 1.4, 0.2],
        [5.8, 2.7, 4.1, 1. ],
        [5.4, 3.4, 1.7, 0.2],
        [5.8, 4. , 1.2, 0.2],
        [5. , 2.3, 3.3, 1. ],
        [5.5, 2.6, 4.4, 1.2],
        [6.5, 2.8, 4.6, 1.5]]),
 array([[5.4, 3.7, 1.5, 0.2],
        [5.7, 2.8, 4.1, 1.3],
        [4.8, 3.1, 1.6, 0.2],
        [6.9, 3.1, 5.4, 2.1],
        [6.3, 2.5, 4.9, 1.5],
        [6.3, 2.9, 5.6, 1.8],
        [4.9, 2.4, 3.3, 1. ],
        [5.1, 3.3, 1.7, 0.5],
        [6.4, 3.2, 4.5, 1.5],
        [4.7, 3.2, 1.3, 0.2],
        [6.5, 3. , 5.5, 1.8],
        [6.9, 3.2, 5.7, 2.3],
        [6.7, 3.1, 4.7, 1.5],
        [6.8, 3.2, 5.9, 2.3],
        [5.7, 4.4, 1.5, 0.4],
        [6.2, 2.8, 4.8, 1.8],
        [5.6, 2.7, 4.2, 1.3],
        [4.6, 3.4, 1.4, 0.3],
        [7.7, 3. , 6.1, 2.3],
        [4.9, 3.6, 1.4, 0.1],
        [4.8, 3. , 1.4, 0.1],
        [5.2, 4.1, 1.5, 0.1],
        [5. , 3.5, 1.6, 0.6],
        [5.9, 3. , 5.1, 1.8],
        [4.6, 3.6, 1. , 0.2],
        [6.4, 3.2, 5.3, 2.3],
        [4.9, 3.1, 1.5, 0.1],
        [5.3, 3.7, 1.5, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [7.6, 3. , 6.6, 2.1],
        [7.1, 3. , 5.9, 2.1],
        [5.6, 3. , 4.1, 1.3],
        [6.3, 3.4, 5.6, 2.4],
        [4.3, 3. , 1.1, 0.1],
        [5.7, 2.5, 5. , 2. ],
        [5.1, 3.8, 1.9, 0.4],
        [4.4, 2.9, 1.4, 0.2],
        [6.1, 3. , 4.9, 1.8]]),
 array([0, 1, 2, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 2, 0, 1, 2, 1, 1, 1, 1, 2,
        2, 0, 2, 0, 2, 0, 0, 1, 1, 2, 1, 2, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0,
        2, 1, 0, 0, 1, 2, 2, 1, 1, 2, 1, 1, 2, 0, 2, 1, 2, 2, 0, 2, 0, 0,
        2, 1, 0, 1, 1, 2, 1, 2, 2, 1, 1, 2, 2, 2, 0, 1, 2, 0, 1, 0, 2, 0,
        1, 1, 2, 2, 2, 1, 1, 2, 2, 0, 2, 0, 2, 1, 2, 0, 2, 0, 1, 0, 0, 1,
        1, 1]),
 array([0, 1, 0, 2, 1, 2, 1, 0, 1, 0, 2, 2, 1, 2, 0, 2, 1, 0, 2, 0, 0, 0,
        0, 2, 0, 2, 0, 0, 0, 2, 2, 1, 2, 0, 2, 0, 0, 2])]

In [131]:
train_test_split(iris_label ) # 두조각을 내는 함수이다.  # 비율을 7.5대 2.5로

[array([1, 1, 0, 1, 1, 1, 2, 2, 0, 0, 0, 2, 2, 1, 0, 2, 0, 0, 0, 0, 2, 1,
        1, 2, 2, 1, 2, 1, 2, 1, 2, 0, 1, 1, 2, 0, 1, 1, 0, 1, 1, 2, 0, 1,
        0, 2, 0, 0, 1, 2, 1, 0, 2, 1, 2, 0, 0, 2, 1, 1, 0, 1, 2, 2, 1, 2,
        0, 1, 1, 0, 0, 1, 0, 1, 1, 2, 0, 1, 2, 0, 0, 2, 1, 2, 2, 0, 1, 2,
        2, 1, 0, 0, 1, 1, 1, 2, 0, 2, 0, 2, 2, 0, 0, 1, 2, 0, 2, 2, 1, 2,
        0, 0]),
 array([1, 2, 2, 0, 2, 1, 0, 1, 2, 0, 0, 2, 0, 0, 2, 1, 0, 2, 0, 1, 0, 1,
        2, 2, 0, 1, 1, 0, 0, 1, 1, 2, 0, 2, 2, 1, 2, 2])]

In [174]:
train_test_split(iris_label, test_size=0.4 ,random_state=123)

[array([0, 2, 1, 0, 0, 2, 1, 2, 2, 0, 1, 1, 2, 0, 2, 1, 1, 0, 2, 2, 0, 0,
        1, 1, 2, 0, 0, 1, 0, 1, 2, 0, 2, 0, 0, 1, 0, 0, 1, 2, 1, 1, 1, 0,
        0, 1, 2, 0, 0, 1, 1, 1, 2, 1, 1, 1, 2, 0, 0, 1, 2, 2, 2, 2, 0, 1,
        0, 1, 1, 0, 1, 2, 1, 2, 2, 0, 1, 0, 2, 2, 1, 1, 2, 2, 1, 0, 1, 1,
        2, 2]),
 array([1, 2, 2, 1, 0, 2, 1, 0, 0, 1, 2, 0, 1, 2, 2, 2, 0, 0, 1, 0, 0, 2,
        0, 2, 0, 0, 0, 2, 2, 0, 2, 2, 0, 0, 1, 1, 2, 0, 0, 1, 1, 0, 2, 2,
        2, 2, 2, 1, 0, 0, 2, 0, 0, 1, 1, 1, 1, 2, 1, 2])]

In [132]:
X_train, X_test, y_train, y_test,=train_test_split(iris_data, iris_label)
# 총 4 조각으로 됨

In [133]:
y_test

array([1, 0, 0, 2, 0, 1, 1, 1, 2, 2, 0, 2, 1, 2, 1, 2, 2, 2, 2, 1, 0, 2,
       0, 0, 0, 1, 1, 2, 2, 2, 2, 1, 2, 1, 1, 2, 1, 2])

In [135]:
dt_clf =DecisionTreeClassifier() # 클래스가 객체인 pos기 한대 만듬

In [137]:
dt_clf.fit(X_train, y_train) # 객체가 쓸수 있는 메소드 fit 적합한
                             # fit을 했다는 것은 
    # fitting 적합 학습 train 훈련 다 패턴을 찾고 답을 찾음

DecisionTreeClassifier()

In [139]:
X_train.shape # 열은 속성 변수 , 로우는 관측치
           # 데이터수는 112명 이고 속성이 4개

(112, 4)

In [141]:
y_train.shape # 112개가 한줄로 됨   

# 1,1,1,1   1  4가지정보를 y의 1가지 정보를 맞춤 X가 크고 y가 작음 
#180, 70, 184, 74  7 
# 170, 48, 149, 39 9  어떠한 패턴을 찾음 X는 홍길동 24세 y는 인간 
# 이러한 찾는 것을 Train이라함 
# 이러한 패턴을 우리가 만든 dt_clf에 저장됨

(112,)

In [144]:
X_test.shape # 38명 다 물어봐서 얘는 어때? 값은 38개나옴

(38, 4)

In [150]:
y_pred=dt_clf.predict(X_test) # 패턴저장된거 맞춰봐 4개의 정보를 순서에 맞게 줘야함 
y_pred
# 첫번쨰 얘는 1, 두번쨰얘는 0이고 그럼

array([1, 0, 0, 2, 0, 1, 1, 1, 2, 2, 0, 2, 1, 2, 1, 2, 2, 2, 2, 1, 0, 1,
       0, 0, 0, 1, 1, 2, 1, 2, 2, 1, 2, 1, 1, 2, 1, 2])

In [151]:
y_test # 사실 이게 정답임 위에랑 맞춰봄

array([1, 0, 0, 2, 0, 1, 1, 1, 2, 2, 0, 2, 1, 2, 1, 2, 2, 2, 2, 1, 0, 2,
       0, 0, 0, 1, 1, 2, 2, 2, 2, 1, 2, 1, 1, 2, 1, 2])

In [152]:
y_pred== y_test # 맞았는지 볼수 있음

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [153]:
sum(y_pred== y_test) # True는 1이니 총 36개 맞음

36

In [154]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [155]:
iris.target_names  # 인덱스 순서대로 012 1은 버스컬러 꽃이다.

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [156]:
from sklearn.metrics import accuracy_score # 정확도 점수 봄

In [157]:
accuracy_score(y_pred, y_test) # 정확도 점수 봄 # 위치 바꿔도 상관 x 1:1 비교

0.9473684210526315

In [158]:
accuracy_score(y_test, y_pred)

0.9473684210526315

In [159]:
칼럼, 변수, 피치, 특질

NameError: name '칼럼' is not defined

In [160]:
# Train set라함 X 1,2,3,4(속성) /  y 품종(label) 레이블 붙이는 과정 labeling 레이블링이라 함
# Test set 라함 X 1,2,3,4 -?  y 이거를 맞춤   위에서 트레이닝하고 아래서 test 함

In [ ]:
# 머신러닝에서는 파라미터와 하이퍼 파라미터 같음 
# 아규먼트 인수 인자 파라미터 값을 정해주는게 파라미터 
# DecisonTreeClassifier 는 클래스이다.  클래스 파이어 리그래스 합쳐서 에스티메이터 클래스이다. 
# 보통 fit하면 trans 함 fit이 맞추고 학습까지 함 보통 대부분

In [161]:
train_test_split # 테스트 사이즈 정함 랜덤하게 뽑을때 random state

In [162]:
#데이터 전처리 데이터 인코딩 레이블 인코딩
# 결측차가 있으면 안됨 # 문자열의 값을 입력값으로 허용하지 않는다.
#문자를 숫자로 바꿔야함  출력값으로 문자는 가능
# 문자를 숫자로 바꾸는법 
# 레이블인코딩(글자를 숫자로 바꿔줌 ) 원핫인코딩(한개만 불이 들어옴 한개만 1임)
#파라미터는 매개변수라하면 함수에 값을 집어넣어서 출력값이 다르게 됨 흔히 매개변수라고 한다. 
# 인공지능에서는 이것을 하이퍼 파라미터라고 한다.

In [163]:
from sklearn.preprocessing import LabelEncoder

In [164]:
encoder =LabelEncoder()

In [168]:
labels=encoder.fit_transform(['TV','냉장고','전자레인지']) # 문자열을 숫자로 바꿔줌 
labels

array([0, 1, 2], dtype=int64)

In [ ]:
소수 : 약수가 2개인 수

약수 : 어떤 수를 나누어떨어지게 하는 수
즉, 소수는 1과 자기 자신, 단 두 개의 약수만을 가집니다.
소인수분해는 몫이 소수가 될때까지 한다.  
약수 어떤 수를 나누어 떨어지게 하는수 6/1 6/2 6/3 6/6